1)Ekteki veri dosyasını okuyup, veriyi adı adult_df olan DataFrame’de tutunuz.

In [14]:
import pandas as pd
import numpy as np
adult_df=pd.read_csv("adult.csv",sep=",")
adult_df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

2) '?' şeklinde var olan kayıtları np.nan (Numpy NaN) olarak değiştiriniz.

In [15]:
adult_df.replace('?',np.nan,inplace=True)
adult_df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

3) Eksik veri içeren sütunları siliniz.

In [17]:
adult_df=adult_df.dropna(axis=1)
adult_df

,age,fnlwgt,education,educational-num,marital-status,relationship,race,gender,capital-gain,capital-loss,hours-per-week,income
0,25,226802,11th,7,Never-married,Own-child,Black,Male,0,0,40,<=50K
1,38,89814,HS-grad,9,Married-civ-spouse,Husband,White,Male,0,0,50,<=50K
2,28,336951,Assoc-acdm,12,Married-civ-spouse,Husband,White,Male,0,0,40,>50K
3,44,160323,Some-college,10,Married-civ-spouse,Husband,Black,Male,7688,0,40,>50K
4,18,103497,Some-college,10,Never-married,Own-child,White,Female,0,0,30,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,257302,Assoc-acdm,12,Married-civ-spouse,Wife,White,Female,0,0,38,<=50K
48838,40,154374,HS-grad,9,Married-civ-spouse,Husband,White,Male,0,0,40,>50K
48839,58,151910,HS-grad,9,Widowed,Unmarried,White,Female,0,0,40,<=50K
48840,22,201490,HS-grad,9,Never-married,Own-child,White,Male,0,0,20,<=50K
48841,52,287927,HS-grad,9,Married-civ-spouse,Wife,White,Female,15024,0,40,>50K

4) Kadınların yüzde kaçının yıllık kazancı 50000 dolardan fazladır?

In [18]:
len_w=len(adult_df.loc[(adult_df['gender']=='Female')])   #14695 kişi kadın
len_w50=len(adult_df.loc[(adult_df['gender']=='Female')&(adult_df['income']=='>50K')])  #1669 kişi kadın ve >50K dolar kazanıyor
percent_w=(len_w50*100)/len_w
print("Kadınların %{:.2f}\'nin yıllık kazancı 50000 dolardan fazladır.".format(percent_w))

Kadınların %10.93'nin yıllık kazancı 50000 dolardan fazladır.

5) Erkeklerin yüzde kaçının yıllık kazancı 50000 dolardan fazladır?

In [19]:
len_m=len(adult_df.loc[(adult_df['gender']=='Male')])   #30527 kişi erkek
len_m50=len(adult_df.loc[(adult_df['gender']=='Male')&(adult_df['income']=='>50K')])  #9539 kişi erkek ve >50K dolar kazanıyor
percent_m=(len_m50*100)/len_m
print("Erkeklerin %{:.2f}\'nin yıllık kazancı 50000 dolardan fazladır.".format(percent_m))

Erkeklerin %30.38'nin yıllık kazancı 50000 dolardan fazladır.

6) Yıllık kazancı 50000 dolardan fazla olan bireylerin haftalık çalışma saati ortalaması nedir?

In [21]:
b50k=adult_df.loc[(adult_df['income']=='>50K')]
hpw1=(b50k.iloc[0:,[10]]).mean()
print('Yıllık kazancı 50000 dolardan fazla olan bireylerin haftalık çalışma saati ortalaması {:.2f}'.format(float(hpw1)))
#hpw.mean()

Yıllık kazancı 50000 dolardan fazla olan bireylerin haftalık çalışma saati ortalaması 45.45

7) Yıllık kazancı 50000 dolar ve altında olan bireylerin haftalık çalışma saati ortalaması nedir?

In [22]:
ke50k=adult_df.loc[(adult_df['income']=='<=50K')]
hpw2=(ke50k.iloc[0:,[10]]).mean()
print('Yıllık kazancı 50000 dolar ve altında olan bireylerin haftalık çalışma saati ortalaması {:.2f}'.format(float(hpw2)))

Yıllık kazancı 50000 dolar ve altında olan bireylerin haftalık çalışma saati ortalaması 38.84

8) 999. sıradaki bireyden sonraki bireylerin yaş (age) ve gelir (income) özniteliklerini içeren
sub_df adında yeni bir DataFrame oluşturunuz.

In [25]:
sub_df=adult_df.iloc[1000:,[0,11]]
sub_df

       age income
1000    19  <=50K
1001    49   >50K
1002    18  <=50K
1003    38  <=50K
1004    48  <=50K
...    ...    ...
48837   27  <=50K
48838   40   >50K
48839   58  <=50K
48840   22  <=50K
48841   52   >50K

[47842 rows x 2 columns]